nav {
    height: 80px;
    width: 100%;
}
li a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin: 25px;
}
li {
    display: inline-block;
    list-style: none;
    padding-right: 20px;
}
h1.logo {
    color: black;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
}
div.navA {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    background: linear-gradient(to bottom, #fadee7 0%, white 100%);
}
div.footer {
    text-align: center;
    background-color: white;
    border: solid linear-gradient(to top, #fadee7 0%, white 100%);;
    padding: 5px;
    margin-top: 30px;
}
p.Icon {
    font-size: 50px;
}