* {
    box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
    [class*="col-"] {
        width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
ul {
    text-align: end;
    padding-top: 20px;
}
li {
    display: inline;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
}
.logo {
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
body {
    background: linear-gradient(to bottom, #fadee7 0%, white 100%);
}
.footer {
    text-align: center;
    background-color: linear-gradient(to top, #fadee7 0%, white 100%);
    border: inset white;
    border-radius: 50px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
  