nav {
    height: 80px;
    width: 100%;
}
li a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin: 25px;
}
li {
    display: inline-block;
    list-style: none;
    padding-right: 20px;
}
h1.logo {
    color: black;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
}
div.navA {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body {
    background: linear-gradient(to bottom, #fadee7 0%, white 100%);
}
div.footer {
    text-align: center;
    background-color: linear-gradient(to top, #fadee7 0%, white 100%);
    border: inset white;
    padding: 5px;
    margin-top: 30px;
    border-radius: 50px;
}
p.Icon {
    font-size: 20px;
}
span {
    font-size: 15px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    line-height: 30px;
    margin-top: 50px;
}
.left {
    flex: 50%;
    background-color: white;
    border-radius: 50px;
    margin-right: 100px;
    margin-left: 100px;
}
.right {
    flex: 50%;
    background-color: white;
    border-radius: 50px;
    margin-left: 100px;
    margin-right: 100px;
}