img {
    border-radius: 20px;
}
video {
    border-radius: 20px;
}
.left {
    background-color: white;
    border-radius: 50px;
    text-align: center;
    border: inset white;
    margin: auto;
    margin-top: 1.5rem;
    padding-bottom: 15px;
}
.right {
    background-color: white;
    border-radius: 50px;
    text-align: center;
    border: inset white;
    margin: auto;
    margin-top: 1.5rem;
    padding-bottom: 15px;
}
span {
    font-size: 15px;
}
.Icon {
    font-size: 20px;
}
* {
    font-family: 'Kanit', sans-serif;
}
.move {
    padding: 10px;
}
.row {
    float: left;
}