img {
    border-radius: 20px;
}
video {
    border-radius: 20px;
}
.left {
    background-color: white;
    border-radius: 50px;
    text-align: center;
    border: inset white;
}
.right {
    background-color: white;
    border-radius: 50px;
    text-align: center;
    border: inset white;
}
span {
    font-size: 15px;
}
.Icon {
    font-size: 20px;
}
* {
    font-family: 'Kanit', sans-serif;
}

